*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background: linear-gradient(to left, deepskyblue , blue);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.header-box{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}

.header-nav-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.nickname-box{
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    flex: 1;
    height: 100%;
}

.nickname{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    height: 40px;
    width: 250px;
}

.click-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 10px 0 10px;
    height: 100%;
    flex: 1;
}

.header-click{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    margin: 0 2vh 0 2vh;
    transition: 0.9s;
}

.menu-contato{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    top: 100%;
    height: 240px;
    width: 150px;
    z-index: 1;
}

.contato-click .open, .contato-click .close{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.contato-click{
    display: flex;
    position: absolute;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 150px;
    transition: 0.9s;
}

.menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-top: 40px;
    height: 0;
    width: 150px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
}

.menu-click{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 10px 0 10px;
    height: 40px;
    width: 125px;
    transition: 0.9s;
}

.menu-click p{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    flex: 1;
}
.menu-icon{
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 20px;
    width: auto;
}

/*INTERAÇÔES HEADER---------------------------------------------------------------------------------------*/

.menu-contato:hover .menu-box{
    visibility: visible;
    box-shadow:  0 0 10px -5px black;
    height: 200px;
}

.header-click:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-contato:hover .contato-click{
        background-color: rgba(0, 0, 0, 0.5);
}

.menu-click:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.close,
.menu-contato:hover .open{
    visibility: visible;
}

.open,
.menu-contato:hover .close{
    visibility: hidden;
}

.menu-click:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/*MAIN CSS------------------------------------------------------------------------------------------------*/

.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100vh;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}

.main-nav-left{
    display: flex;
    flex-direction: column;
    background-color:transparent;
    height: 100%;
    flex: 1;
}

.nav-left-box{
    display: flex;
    flex-direction: column;
    background-color:transparent;
    padding: 2vh;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profile{
    display: flex;
    background-color: white;
    height: 40vh;
    width: auto;
    border-radius: 50%;
    margin-bottom: 10vh;
}

.main-box h1, h2{
    display: flex;
    text-align: center;
    color: white;
}

.work-click{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 100px;
    margin-top: 10vh;
    transition: 0.9s;
}

.main-nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    background-color: transparent;
    height: 100%;
    flex: 1;
}

.avatar-box{
    display: flex;
    justify-content: center;
  
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.avatar{
    display: flex;
    position: relative;
    background-color: white;
    height: 100%;
    max-height: 80vh;
    width: auto;
    border-radius: 5vh;
    /*border-radius: 10% 10% 10% 100%;*/
}

/*MAIN INTERAÇÕES-----------------------------------------------------------------------------------------*/

.work-click:hover{
    transform: scale(0.9);
}

/*OVERLAY PROJETOS----------------------------------------------------------------------------------------*/

body input{
    display:none;
}

.overlay-projetos{
    display: flex;
    background: linear-gradient(to left, deepskyblue , blue);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 0;
    max-height: 100vh;
    width: 100%;

    position: absolute;
    justify-content: center;

    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.header-projetos{
    display: flex;
    position:absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;
    align-items:center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.header-projetos h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: white;
    height: 100px;
    flex:4;
    margin-left: 32vh;
}

.projetos-close-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100px;
    flex: 1;
}

.close-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color:transparent;
    transition: 0.9s;
    height: 50px;
    width: 50px;
}

.img-box{
    display: none;
    flex-direction: column;
    background-color: transparent;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.cards-loop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    background-color: transparent;
    flex: 1;
}

.loop-1,
.loop-2,
.loop-3{
    display: flex;
    position:absolute;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    max-height: 36vh;
    width:100%;
    max-width: 70vh;
}

.cards-box{
    display: none;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    flex: 1;
}

.cards-box p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-box a{
    text-decoration: none;
    color: white;
}

.cards{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color:white;
    transition: 0.5s;
    height: 34vh;
    width: 36vh;
    margin: 2.5vh;
}

/*OVERLAY PROJETOS INTERAÇÔES-----------------------------------------------------------------------------*/

.cards:hover{
    transform: scale(1.1);
}

.close-projetos:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

#projetos-trigger:checked ~ .overlay-projetos{
    visibility: visible;
    height: 100%;
}

#projetos-trigger:checked ~ .header-box,
#projetos-trigger:checked ~ .main-box{
    visibility: hidden;
    opacity: 0;
}

@keyframes loop{
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    43% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.loop-1{
    animation: loop 12s linear infinite;
    animation-delay: 4s;
}

.loop-2{
    animation: loop 12s linear infinite;
        animation-delay: 8s;
}

.loop-3{
    animation: loop 12s linear infinite;
        animation-delay: 12s;
}

/*OVERLAY HOBBIES-----------------------------------------------------------------------------------------*/

.overlay-hobbies{
    display: flex;
    background: linear-gradient(to left, deepskyblue , blue);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 0;
    max-height: 100vh;
    width: 100%;

    position: absolute;
    justify-content: center;

    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.header-hobbies{
    display: flex;
    position:absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;
    align-items:center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.header-hobbies h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: white;
    height: 100px;
    margin-left: 32vh;
    flex:4;
}

.hobbies-close-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100px;
    flex: 1;
}

.close-hobbies{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color:transparent;
    transition: 0.9s;
    height: 50px;
    width: 50px;
}

/*OVERLAY HOBBIES INTERAÇÔES------------------------------------------------------------------------------*/

.close-hobbies:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

#hobbies-trigger:checked ~ .overlay-hobbies{
    visibility: visible;
    height: 100%;
}

#hobbies-trigger:checked ~ .header-box,
#hobbies-trigger:checked ~ .main-box{
    visibility: hidden;
    opacity: 0;
}

/*OVERLAY SOBRE-------------------------------------------------------------------------------------------*/

.overlay-sobre{
    display: flex;
    background: linear-gradient(to left, deepskyblue , blue);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 0;
    max-height: 100vh;
    width: 100%;

    position: absolute;
    justify-content: center;

    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.header-sobre{
    display: flex;
    position:absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;
    align-items:center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.header-sobre h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: white;
    height: 100px;
    margin-left: 32vh;
    flex:4;
}

.sobre-close-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100px;
    flex: 1;
}

.close-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color:transparent;
    transition: 0.9s;
    height: 50px;
    width: 50px;
}

/*OVERLAY SOBRE INTERAÇÔES--------------------------------------------------------------------------------*/

.close-sobre:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

#sobre-trigger:checked ~ .overlay-sobre{
    visibility: visible;
    height: 100%;
}

#sobre-trigger:checked ~ .header-box,
#sobre-trigger:checked ~ .main-box{
    visibility: hidden;
    opacity: 0;
}